body {
font-family: Consolas, -apple-system; 
margin: 0; 
}
h1 {
font-size: 36px;
font-weight: bold; 
margin: 0; 
color: #fc6; 
}
a{ 
  text-decoration: none !important;
  outline: 0;
  color:black;
}
h2 {
margin-top: 0; 
}

.logo{
  float: left;
}

header { 
padding: 40px; 
border-top: 1px solid black;
border-bottom: 2px solid #e8e8e8;
box-shadow: 0 5px 5px -5px #333;
}  

section{
  margin-left: 22px;
}
.left-menu{
  float: right;
  margin-right: 30px;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 20px;
  justify-content: center;
}
.video{
  margin: 10px;
}
.video-preview{
width: 100%;
height: 100%;
object-fit: cover;
position: relative;
}

a.dropbtn {
color: black;
font-size: 16px;
border: 1px #e8e8e8;
border-radius: 50%;
display:block;
padding: 5px;
background-color: #f3a538;
}

a.dropbtn:hover{background-color: #e8e8e8}
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position:absolute;
top: 29px;
left: -125px;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #dadada;}
.dropdown:hover .dropdown-content {display: block;}

#left a { 
display: block;
padding: 2px;
margin: 1px;
font-size: 0.9em;
text-decoration: none; 
}


.left_inner {
  background-color: #e8e8e8;
  padding: 25px;
  margin-top: 3px;
  color:black;
  overflow-y: auto;
  max-height: 200px;
}

#community_inner{
  background-color: #dadada;
  padding: 25px;
  border-radius: 5px;
}

#content { 
margin: 10px 5px 20px 225px;
padding: 5px; 
border: 1px solid #333; 
}

.line {
border-bottom: 1px groove #333; 
}


div.scrollmenu {
overflow: auto;
white-space: nowrap;
margin-top: 20px;
}

div.scrollmenu a {
display: inline-block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px;
text-decoration: none;
background-color: #e8e8e8;
border: 1px solid #e8e8e8;
border-radius: 20px;
padding:5px 10px;
margin-left: 10px;
}

div.scrollmenu a:hover {
color :#e8e8e8;
background-color: #f3a538;
}

#left #community .menu_social a { display: inline-block; margin-right: 5px; color: black;}
#left #community .menu_social a:hover{ color: blue;}
.search{
  float : left;
  position: relative;
  margin-left: 25%;
}
.search input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: 1px solid #e8e8e8;
}
   
a.search_button{
  text-align: center;
  position: absolute;
  background-color: #e8e8e8;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 27px;
  width: 25px;
  right: 22px;
  top: 1px;
}

aside{
  clear: both;
  padding: 10px;
  width: 240px;
  float: left;
  min-height: 100%;
}
   
.person div{
  display: inline-block;
  margin-right: 5px;
} 
#rate .name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
}

#rate .active .dot {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.now_watching{
  float: right;
}

.active .live{
  padding: 4px;
  background-color: red;
  color: white;
  position:absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.video-preview:hover  .fa-paw{
  display: block;
}

.video-preview .fa-paw{
  position:absolute;
  top: 50px;
  left: 145px;
  color: white;
  display: none;
}

.video-preview .description{
  color: black;
  margin-left: 40px;
}

.avatar img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -30px;
}

#rate .avatar img {
  width: 20px;
  height: 20px;
  margin-top: 0px;
}
.video-preview .name{
  color:#dadada;
  margin-top: -20px;
  margin-left: 40px;
}
.video-preview .options .fa{
  color: black;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
}